# Estimating weather in Berkum between 2020/12/1 and 2020/12/7

## Imports

In [1]:
from weather_estimates import weather_estimates
import datetime as dt

## Variables
A couple of variables need to be created in order to calculate an estimate of the weather in Berkum.

In [2]:
# Latitude and longitude of berkum. 
lat_berkum, lon_berkum = 52.524473, 6.138002

# Timespan that is used to get the weather
start, end = dt.datetime(2020,12,1,0), dt.datetime(2020,12,7,6)

## Initialize class

Before estimating weather data at a specific location, an instance of the weather_estimates class needs to be made. The initialization proces starts by acquiring data that is neccesary to calculate the estimates, like the KNMI data. When the data is acquired, it will be used to calculate the N closests stations to the desired location. These stations will be used by the curve fitting algorithm to calculate an estimate of the weather at the given location. 

The table below shows the first 10 rows of the acquired KNMI data. As you might have noticed, KNMI measures their data per hour (see 'HH' column). The registered hour is an hour slot from HH-1 to HH.

In [3]:
estimate = weather_estimates(lat=lat_berkum, lon=lon_berkum, start_date=start, end_date=end)
estimate.data.head(10)

Int64Index([273, 279, 290], dtype='int64', name='STN')

## Get estimates
The weatherdata is calculated by using geospatial interpolation, which uses the nearests stations that are calculed when initializing. These stations will be used as reference points for the curve fit algorithm and to select the data that is needed in the algorithm. A while loop is used to calculate the estimates per hour. The loop will continue untill the given end_time is reached. 

Below are the first 24 results of using the caculations on the estimate class that is initialized at the start of this document.

### Temperature

In [4]:
temperatures = estimate.get_temperature()
temperatures.head(24)

                     temperature
2020-12-01 00:00:00     6.726618
2020-12-01 01:00:00     7.265494
2020-12-01 02:00:00     6.403473
2020-12-01 03:00:00     6.504325
2020-12-01 04:00:00     6.436456
2020-12-01 05:00:00     6.600336
2020-12-01 06:00:00     7.396437
2020-12-01 07:00:00     8.030226
2020-12-01 08:00:00     8.430607
2020-12-01 09:00:00     8.464261
2020-12-01 10:00:00     8.598342
2020-12-01 11:00:00     9.063500
2020-12-01 12:00:00     9.163881
2020-12-01 13:00:00     8.833834
2020-12-01 14:00:00     9.028747
2020-12-01 15:00:00     8.130316
2020-12-01 16:00:00     7.533027
2020-12-01 17:00:00     7.365203
2020-12-01 18:00:00     7.095809
2020-12-01 19:00:00     6.761640
2020-12-01 20:00:00     6.329845
2020-12-01 21:00:00     6.196908
2020-12-01 22:00:00     6.096146
2020-12-01 23:00:00     5.863589

### Wind speed

In [5]:
wind_speed = estimate.get_wind_speed()
wind_speed.head(24)

                     wind_speed
2020-12-01 00:00:00    3.333184
2020-12-01 01:00:00    3.003810
2020-12-01 02:00:00    2.674435
2020-12-01 03:00:00    2.674435
2020-12-01 04:00:00    2.674435
2020-12-01 05:00:00    2.670626
2020-12-01 06:00:00    3.321307
2020-12-01 07:00:00    4.650682
2020-12-01 08:00:00    4.658749
2020-12-01 09:00:00    4.995743
2020-12-01 10:00:00    4.995743
2020-12-01 11:00:00    4.995743
2020-12-01 12:00:00    4.991933
2020-12-01 13:00:00    4.991933
2020-12-01 14:00:00    4.336994
2020-12-01 15:00:00    4.333184
2020-12-01 16:00:00    3.336994
2020-12-01 17:00:00    3.336994
2020-12-01 18:00:00    3.674435
2020-12-01 19:00:00    3.333184
2020-12-01 20:00:00    2.666368
2020-12-01 21:00:00    2.333184
2020-12-01 22:00:00    2.007619
2020-12-01 23:00:00    2.333184

### Horizontal irradiation

In [6]:
irradiation = estimate.get_horizontal_irradiation()
irradiation.head(24)

                     horizontal_irradiation
2020-12-01 00:00:00                 0.00000
2020-12-01 01:00:00                 0.00000
2020-12-01 02:00:00                 0.00000
2020-12-01 03:00:00                 0.00000
2020-12-01 04:00:00                 0.00000
2020-12-01 05:00:00                 0.00000
2020-12-01 06:00:00                 0.00000
2020-12-01 07:00:00                 0.00000
2020-12-01 08:00:00                 4.64063
2020-12-01 09:00:00                23.11474
2020-12-01 10:00:00                46.34962
2020-12-01 11:00:00                75.91244
2020-12-01 12:00:00               102.62714
2020-12-01 13:00:00               100.03921
2020-12-01 14:00:00                94.10893
2020-12-01 15:00:00                22.99461
2020-12-01 16:00:00                 2.77778
2020-12-01 17:00:00                 0.00000
2020-12-01 18:00:00                 0.00000
2020-12-01 19:00:00                 0.00000
2020-12-01 20:00:00                 0.00000
2020-12-01 21:00:00                 0.00000
2020-12-01 22:00:00                 0.00000
2020-12-01 23:00:00                 0.00000